scikit-learn>=1.7.2
vllm>=0.17
transformers # <5.0 for vllm ~= 0.16
torch
torchvision 
torchaudio
pandas>=2.3
numpy>=2.2.6
openai
datasets
tenacity
google-generativeai
cohere
mistralai<1.0
anthropic
reka-api
jsonlines
together
pytest>=9.0.2
